<h3>Все наши посты</h3>
<% @post.each do |post| %>
<div class="well">
  <h3><%= post.title  %></h3>
  <p><%= post.body  %></p>
  <%= link_to "Читать далее", post_path(post), :class => 'btn btn-danger'  %>
</div>
<% end %>
